/*
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 */

h1 {
	text-align: center;
}

#mainBoard {
	position: relative;
	border: 1px solid black;
	height: 400px;
	width: 800px;
	margin: auto;
	text-align: center;
	overflow: scroll;
}

.treeDiv {
	display: inline-block;
	margin: auto;
	text-align: center;
	white-space:nowrap;
}

.treeNodeDiv {
	display: inline-block;
	margin: 30px 0px auto 0px;
	padding: 20px 0px auto 0px;
	text-align: center;
	vertical-align: top;
}

.nullCanvas {
	display: inline-block;
	margin: 30px 5px auto 5px;
	padding: 20px 0px auto 0px;
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: top;
	border: 1px dashed blue;
}

.treeNodeCanvas {
	display: block;
	margin: auto;
	border: 1px dashed red;
	transition: all 1s ease 0s;
}

.treeNodePtr {
	position: absolute;
	z-index: -2;
}

#interface {
	margin-top: 10px;
	text-align: center;
}
